* {

    font-family: "Raleway", sans-serif;
  
  }
/* NAVIGATION */
  .nav-link {
    color: darkgray;
  }

  .nav-link:hover {
  border-bottom: 1px solid black;
  color: black;
  transform: scale(1);
} 

.mainImg {
    width: 100%;
    opacity: 10%;
}



@media (min-width: 320px){

}