* {

    font-family: "Raleway", sans-serif;
  
  }
/* NAVIGATION */
.nav-link {
    color: darkgray;
    
  }

.nav-link:hover {
  border-bottom: 1px solid black;
  color: black;
  transform: scale(1);
} 

.mainImg {
    width: 100%;
    opacity: 10%;
}
.nav-item > li{
  float: right;
}

 @media (min-width: 320px){ 
  .nav-bar {
    display: block;
    background: aqua;
  }
} 